# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os monitores
- Divirta-se :)

#### 1. Baixando dados de ativos
    1. Baixe os dados de três ativos da sua escolha do Yahoo Finance, correspondente a um período de pelo menos 2 anos até a data mais recente.
    2. Salve esses dados para que você possa utilizá-los na próxima tarefa.

In [1]:
%%time
import pandas as pd
import yfinance as yf
import plotly.express as px

ATIVOS = [('NVDA', 'NVIDIA Corporation'), ('AAPL', 'Apple Inc.'), ('MSFT', 'Microsoft Corporation')]
dt_ini, dt_fim = '2022-01-01', '2024-07-01'

dados = {ativo: yf.download(value, start=dt_ini, end=dt_fim) for value, ativo in ATIVOS}
dados['NVIDIA Corporation']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

CPU times: total: 1.45 s
Wall time: 15.3 s

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,29.815001,30.711000,29.785000,30.121000,30.075630,391547000
2022-01-04,30.277000,30.468000,28.349001,29.290001,29.245884,527154000
2022-01-05,28.948999,29.416000,27.533001,27.604000,27.562422,498064000
2022-01-06,27.639999,28.438000,27.065001,28.177999,28.135557,454186000
2022-01-07,28.141001,28.422001,27.056999,27.247000,27.205961,409939000
...,...,...,...,...,...,...
2024-06-24,123.239998,124.459999,118.040001,118.110001,118.110001,476060900
2024-06-25,121.199997,126.500000,119.320000,126.089996,126.089996,425787500
2024-06-26,126.129997,128.119995,122.599998,126.400002,126.400002,362975900
2024-06-27,124.099998,126.410004,122.919998,123.989998,123.989998,252571700
2024-06-28,124.580002,127.709999,122.750000,123.540001,123.540001,315516700

In [2]:
%%time
pd.concat(dados, names=['ativo', 'data']).to_csv('./dados.csv')

CPU times: total: 31.2 ms
Wall time: 25 ms

#### 2. Observando a volatilidade dentro do dia
1. Calcule a amplitude de variação do valor do ativo dentro do dia. Essa amplitude você pode calcular com um comando simples de adicionar uma coluna no Pandas: (valor máximo - valor mínimo).
2. Monte um gráfico de linha mostrando a variação dessa amplitude ao longo do período coletado, por ativo.
3. Veja se consegue identificar que ativo apresentou maior volatilidade.

In [3]:
%%time
amplitudes = pd.DataFrame()

for value, ativo in ATIVOS:
    amplitudes[ativo] = dados[ativo]['High'] - dados[ativo]['Low']

amplitudes

            NVIDIA Corporation  Apple Inc.  Microsoft Corporation
Date
2022-01-03            0.926001    5.169998               8.220001
2022-01-04            2.118999    3.820007               9.080017
2022-01-05            1.882999    5.529999              10.089996
2022-01-06            1.372999    3.660004               7.210022
2022-01-07            1.365002    3.110001               6.410004
...                        ...         ...                    ...
2024-06-24            6.419998    6.110001               6.339996
2024-06-25            7.180000    2.770004               4.670013
2024-06-26            5.519997    4.220001               5.410004
2024-06-27            3.490005    3.389999               4.400024
2024-06-28            4.959999    5.770004               8.970001

[625 rows x 3 columns]

In [4]:
fig = px.line(amplitudes, title='Amplitude Diária das Ações das Big Techs')
fig.show(renderer='inframe')

In [5]:
print('Média da amplitude diária por ativo:\n{}\nO ativo com maior volatilidade é: {}'.format(amplitudes.mean(), amplitudes.mean().idxmax()))

Média da amplitude diária por ativo:
NVIDIA Corporation       1.529448
Apple Inc.               3.488208
Microsoft Corporation    6.557809
dtype: float64
O ativo com maior volatilidade é: Microsoft Corporation